DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=YOUR_API_KEY"
DIRECT_DATABASE_URL="postgresql://user:password@host:5432/shankar_trans?sslmode=require"
JWT_SECRET="your-256-bit-secret-here"
JWT_REFRESH_SECRET="your-256-bit-refresh-secret-here"
BLOB_READ_WRITE_TOKEN="vercel_blob_token_here"
NEXT_PUBLIC_API_URL="http://localhost:3000/api/v1"
